{% extends "research_base.html" %}
{% load i18n %}
{% load bootstrap_tags %}
{% block title %} Registrto {% endblock %}



{% block body_class %}Registrto{% endblock %}

{% block body %}

<!--HEADER-TITULO-->
		<div id="page-header" class="content">
			<div class="container">
				<div class="titulo-blk-row">
					<div class="titulo-img blk-cell"><img src="{{STATIC_URL}}base/img/users_blue.svg" alt="" style="width: 50px; height: 50px;"></div>
					<div class="titulo-txt blk-cell">
						<h2>Registra un nuevo usuario</h2>
					</div>
				</div>
			</div>
		</div>
<div class="container">
	<div class="row">
		<div class="col-md-6" id="general">
			<form id="formulario" method="post" action="">{% csrf_token %}
				{{ formulario|as_bootstrap}}
				<p><input type="submit" class="btn btn-primary" value="Registrar"></p>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_script %}
    <script type="text/javascript">

</script>
{% endblock %}