{% extends "research_base.html" %}
{% load i18n %}
{% load bootstrap_tags %}
{% block title %} Fosas {% endblock %}

{% block body_class %}Ubicación{% endblock %}

{% block extra_head %}
  
     <link href="{{ STATIC_URL }}base/css/map_fossas.css" rel="stylesheet"/>
              <!-- Load Leaflet from CDN-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
	<!-- Esri Leaflet Geocoder -->
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.2.0/dist/esri-leaflet-geocoder.css">
{% endblock %}
{% block body %}

<!--HEADER-TITULO-->
<div id="page-header" class="content">
	<div class="container">
		<div class="titulo-blk-row">
			<div class="titulo-img blk-cell"><img class="ing-f" src="{{STATIC_URL}}base/img/fossa.svg"></div>
			<div class="titulo-txt blk-cell">
				<h4>Mueve el marker para actualizar la ubicación de la fosa {{obj.description}}</h4>
        <div id="points" style="display: none;">{{point_foss}}</div>
			</div>
		</div>
	</div>
</div>

<div id='map'>d</div>

{% endblock %}

{% block extra_script %}
    <script src="{{ STATIC_URL }}base/js/jquery.min.js"></script>
         <!-- Load Leaflet from CDN-->

    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet-src.js"></script>

    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.0.4"></script>
      <!-- Esri Leaflet Geocoder -->
    <script src="https://unpkg.com/esri-leaflet-geocoder@2.2.0"></script>
<script type="text/javascript">
arr_ubication = [];
id_fossa = 0;

$(document).ready(function(){
    id_fossa = {{obj.id}};
    lat_lng = $("#points").text();
    arr_points = lat_lng.split(" ");
    lat_f = parseFloat(arr_points[0]);
    lng_f = parseFloat(arr_points[1]);
    console.log(lat_f);
    console.log(lng_f);
    arr_ubication.push(lng_f);
    arr_ubication.push(lat_f);
    console.log(arr_ubication);

});
    
</script>
    {% include "location_fossa_update.js" %}
   
{% endblock %}